extends templates/default

block content_head
  link(rel="stylesheet" href="stylesheets/home.css")

block content
  
  div(class='cuerpo')
    div(class='container')
      div(class="carousel slide" id="carousel-example-generic") <!--Inicio del carousel-->
        
        <!-- Indicators -->
        ol(class="carousel-indicators")
          li(data-target="#carousel-example-generic" data-slide-to="0" class="active")
          li(data-target="#carousel-example-generic" data-slide-to="1")
          li(data-target="#carousel-example-generic" data-slide-to="2")

        <!-- Wrapper for slides -->
        div(class="carousel-inner" role="listbox")
          div(class="item active")
            a(href="http://localhost:3000/retos/reto_1")
              img(class="img-responsive center-block" src="http://www.mientrastantoenmexico.mx/wp-content/uploads/2017/01/Peje.jpg" alt="..." style="height: 100%; width:100%;")
              div(class="carousel-caption")
                p='Implementación para una poda alfa-beta'

          div(class="item")
            a(href="http://localhost:3000/retos/reto_2")
              img(class="img-responsive center-block" src="https://i0.wp.com/www.sopitas.com/wp-content/uploads/2018/03/jose-antonio-meade-pose.jpg?fit=1120%2C582&ssl=1" alt="..." style="height: 100%; width:100%;")
              div(class="carousel-caption")
                p='Plantilla para un formulario de registro'

          div(class="item")
            a(href="http://localhost:3000/retos")
              img(class="img-responsive center-block" src="https://elbigdata.mx/wp-content/uploads/2016/10/1_ricardo_anaya_copia_1.jpg" alt="..." style="height: 100%; width:100%;")
              div(class="carousel-caption")
                p='Listado histórico de retos'
        
        <!-- Controls -->
        a(class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev")
          span(class="glyphicon glyphicon-chevron-left" aria-hidden="true")
          span(class="sr-only")
            p='Anterior'
        
        a(class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next")
          span(class="glyphicon glyphicon-chevron-right" aria-hidden="true")
          span(class="sr-only")
            p='Siguiente'
    <!-- Final carousel -->

    div(class="container")

      <!--Panel con los circulos-->
      div(class="row panel_circulos")
        div(class="col-md-4")
          h3(class="text-center")="Proyectos"
          div(class="wrap_button")
            img(src="/images/proy.png" class="img-circle" alt="Cinque Terre" style="width:150px; height: 150px")
            
            p(text-justify style="margin-top:15px;")="¡Explora los proyectos!"

            br
            br
            a(href="http://localhost:3000/proyectos" class="btn btn-success boton_re" role="button")="¡Explora proyectos!"

        div(class="col-md-4")
          h3(class="text-center")="Empresas"
          div(class="wrap_button")
            img(src="/images/emp.png" class="img-circle" alt="Cinque Terre" style="width:150px; height: 150px")

            p(text-justify style="margin-top:15px;")="¡Conoce las empresas!"
            
            br
            br
            a(href="http://localhost:3000/empresas" class="btn btn-success boton_re" role="button")="¡Mira las empresas!"

        div(class="col-md-4")
          h3(class="text-center")="Escuelas"
          div(class="wrap_button")
            img(src="/images/sch.png" class="img-circle" alt="Cinque Terre" style="width:150px; height: 150px")
            
            p(text-justify style="margin-top:15px;")="¡Busca tu escuela!"

            br
            br
            a(href="http://localhost:3000/escuelas" class="btn btn-success boton_re" role="button")="¡Mira las escuelas!"

      <!--Lista de los retos-->
      div(class="row")
        div(class="col-md-10 col-md-offset-1")
          div(class="panel panel-default")
            div(class="panel-heading text-center" style="background-color: #0f6bff; color:white;")="Últimos proyectos agregados"
            div(class="panel-body")
              div(class="list-group")
                a(href="http://localhost:3000/proyectos/proyecto_1" class="list-group-item" style="color:black;")="Distribuciones muestrales: las funciones generadoras de momentos."
                a(href="http://localhost:3000/proyectos/proyecto_2" class="list-group-item" style="color:black;")="Números de seguridad en las empresas."
                a(href="http://localhost:3000/proyectos/proyecto_3" class="list-group-item" style="color:black;")="Gato81"
                
      //-
        div(class="proyectos")
          div(class="row")
            div(class="col-md-1")
            
            div(class="col-md-7")
              h2(class="text-center")='Podrás encontrar proyectos'
              p(class="text-justify")='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
            
            div(class="col-md-4")
              div(class="wrap_button")
                img(src="https://vignette.wikia.nocookie.net/bobesponja/images/0/0e/MermaidMan.png/revision/latest?cb=20100414023916" class="img-circle" alt="Cinque Terre" style="width:150px; height: 150px")
                br
                br
                button(type="button" class="btn btn-success boton_re")='¡Explora proyectos!'
      
      //-
        div(class="escuelas")
          div(class="row")
            div(class="col-md-4")
              div(class="wrap_button")
                img(src="https://vignette.wikia.nocookie.net/bobesponja/images/0/0e/MermaidMan.png/revision/latest?cb=20100414023916" class="img-circle" alt="Cinque Terre" style="width:150px; height: 150px")
                br
                br
                button(type="button" class="btn btn-success boton_re")='¡Mira las escuelas!'

            div(class="col-md-7")
              h2(class="text-center")='Mira las diferentes escuelas participantes'
              p(class="text-justify")='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'

            div(class="col-md-1")

      //-
        div(class="empresas")
          div(class="row")
            div(class="col-md-1")
            
            div(class="col-md-7")
              h2(class="text-center")='Conoce las empresas participantes'
              p(class="text-justify")='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
            
            div(class="col-md-4")
              div(class="wrap_button")
                img(src="https://vignette.wikia.nocookie.net/bobesponja/images/0/0e/MermaidMan.png/revision/latest?cb=20100414023916" class="img-circle" alt="Cinque Terre" style="width:150px; height: 150px")
                br
                br
                button(type="button" class="btn btn-success boton_re")='¡Mira las empresas!'
      
      //-
        div(class='recuadro_verde')
          div(class='row')
            div(class="col-md-4")
              h2(class="text-center")='Tú también puedes participar'
              p(class="text-justify")='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
            
            div(class="col-md-4")
              div(class="wrap_button")
                img(src="https://vignette.wikia.nocookie.net/spongebob/images/3/34/Hooky_020.png/revision/latest?cb=20120927143438" class="img-circle" alt="Cinque Terre" style="width:150px; height: 150px")
                br
                br
                button(type="button" class="btn btn-success boton_re")='Conoce las instrucciones'
            
            div(class="col-md-4")
              h2(class="text-center")='Tú también puedes participar'
              p(class="text-justify")='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'
