extends ../templates/default

block content_head
  link(rel="stylesheet" href="/stylesheets/plantilla_empresas_escuelas.css")

block content
  div(class="contenedor")
    div(class="container-fluid")
      div(class="row row-eq-height")
        div(class="col-md-3 col-xs-6 col-sm-6 panel_izquierdo")
          div(class="wrap_image")
              img(src="/images/alim.jpg" class="img-circle hidden-xs" alt="Cinque Terre" style="width:150px; height: 150px")
              h4()="Datos generales"
            
          h4="Encargado:"  
          ul(class="list-unstyled" style="margin-left: 20px;")
            li()="Victor Noriega"

          h4="Correo de contacto: "
          ul(class="list-unstyled" style="margin-left: 20px;")
            li()="valoom@correo1.com"
                        
          h4="Número telefónico: "
          ul(class="list-unstyled" style="margin-left: 20px;")
            li()="+55 665 326 565"

          h4="Redes sociales: "
          ul(class="list-unstyled" style="margin-left: 20px;")
            li()
              a(href="#")="Facebook"
            li()
              a(href="#")="Twitter"
            li()
              a(href="#")="Youtube"

        div(class="col-md-9 col-xs-6 col-sm-6 panel_derecho")
          h1(class="text-center titulo_proyecto")="Aliento"

          h3(class="text-justify:")="Descripción:"
          p(class="text-justify")="Ubicados en el estado de Durango, somos una empresa que nos dedicamos al desarrollo de nuevos métodos para la buena conservación de los alimentos. Y para contribuir al crecimiento de este estudio queremos consolidar relaciones con investigadores y creadores de mecánicas para el desarrollo de nuevas tácticas que ayuden a la causa."
          h3(class="text-justify:")="Intereses:"
          p(class="text-justify")="Dada la necesidad actual de la sociedad la empresa tiene los siguientes intereses:"
          ul(class="list-unstyled" style="margin-left: 20px;")
            li()="Químico en alimentos"
            li()="Química"
            li()="Ing. Química"
