extends ../templates/default

block content_head
  link(rel="stylesheet" href="/stylesheets/plantilla_empresas_escuelas.css")

block content
  div(class="contenedor")
    div(class="container-fluid")
      div(class="row row-eq-height")
        div(class="col-md-3 col-xs-6 col-sm-6 panel_izquierdo")
          div(class="wrap_image")
              img(src="/images/fen.jpg" class="img-circle hidden-xs" alt="Cinque Terre" style="width:150px; height: 150px")
              h4()="Datos generales"
            
          h4="Encargado:"  
          ul(class="list-unstyled" style="margin-left: 20px;")
            li()="Victor Noriega"

          h4="Correo de contacto: "
          ul(class="list-unstyled" style="margin-left: 20px;")
            li()="valoom@correo1.com"
                        
          h4="Número telefónico: "
          ul(class="list-unstyled" style="margin-left: 20px;")
            li()="+55 665 326 565"

          h4="Redes sociales: "
          ul(class="list-unstyled" style="margin-left: 20px;")
            li()
              a(href="#")="Facebook"
            li()
              a(href="#")="Twitter"
            li()
              a(href="#")="Youtube"

        div(class="col-md-9 col-xs-6 col-sm-6 panel_derecho")
          h1(class="text-center titulo_proyecto")="Save D' World"

          h3(class="text-justify:")="Descripción:"
          p(class="text-justify")="Nuestra empresa se dedica a la investigación acerca de los fenómenos naturales, tenemos una posición en el Norte de Chihuahua. A nosotros nos deleita el interés de la sociedad con respecto a este ámbito y todo aquello que ayude a cooperar con el desarrollo de tecnologías que contribuyan a nuestra razón de ser. Agradeceremos a aquellos que les complazca laborar con nosotros, aportando sus ya extensos conocimientos sobre el tema."
          h3(class="text-justify:")="Intereses:"
          p(class="text-justify")="Dada la necesidad actual de la sociedad la empresa tiene los siguientes intereses:"
          ul(class="list-unstyled" style="margin-left: 20px;")
            li()="Geología"
            li()="Física"
            li()="Ing. en materiales"
