extends ../templates/default

block content_head
  link(rel="stylesheet" href="stylesheets/lista_proyectos.css")

block content
  div()
    div(class="container")

      div(class="panel panel-default")
        div(class="panel-heading text-center" style="background-color: #0f6bff; color:white;")="Catálogo de proyectos"

        div(class="panel-body")
          div(class="row display-flex")
            div(class="col-md-4")
              div(class="thumbnail")
                img(src="/images/norm.jpg" class="img-circle" alt="Cinque Terre" style="width:150px; height: 150px")
                div(class="caption")
                  h3()="Distribuciones muestrales: las funciones generadoras de momentos"
                  p(class="text-justify")="En este proyecto de investigación se busca mostrar la complejidad de mostrar algebráicamente la normalidad en algunas distribuciones, mientras que a partir del enfoque que proporcionan las funciones generadoras de momentos, se facilita bastante y obtenemos resultados interesantes."
                  p()
                    a(href="http://localhost:3000/proyectos/proyecto_1" class="btn btn-primary" role="button")="Ver más"

            div(class="col-md-4")
              div(class="thumbnail")
                img(src="/images/cript.jpg" class="img-circle" alt="Cinque Terre" style="width:150px; height: 150px")
                div(class="caption")
                  h3()="Números de seguridad en las empresas"
                  p(class="text-justify")="Los códigos de barras, los números de envíos por correos, entre otros sistemas de información en los productos, son algunas de las medidas que toman las empresas en la actualidad. En este proyecto hacemos un análisis de cómo estos son generados de tal manera que el error humano apenas pueda afectar, así como qué es lo que hacen los matemáticos para lograr errores detectables de manera sencilla, todo esto desde un enfoque algebráico, haciendo uso de arítmética modular elemental y otras herramientas del álgebra moderna elemental que son introducidas en el proyecto."
                  p()
                    a(href="http://localhost:3000/proyectos/proyecto_2" class="btn btn-primary" role="button")="Ver más"
            
            div(class="col-md-4")
              div(class="thumbnail")
                img(src="images/gato81.jpg" class="img-circle" alt="Cinque Terre" style="width:150px; height: 150px")
                div(class="caption")
                  h3()="Gato 81"
                  p(class="text-justify")="Gato81 es un videojuego desarrollado por alumnos de la licenciatura Ciencias de la Computación de la UNISON en el que ejemplificamos las librerías no estándard para la programación en C++. Además de ello, presentamos un modelo para programar un juego completamente recursivo, lo que hace más sencilla la lectura y documentación del código"

                  p()
                    a(href="http://localhost:3000/proyectos/proyecto_3" class="btn btn-primary" role="button")="Ver más"

          div(class="row display-flex")
            div(class="col-md-4")
              div(class="thumbnail")
                img(src="/images/catpro.jpg" class="img-circle" alt="Cinque Terre" style="width:150px; height: 150px")
                div(class="caption")
                  h3()="CAT-Project"
                  p(class="text-justify")="CAT-Project es un proyecto desarrollado por estudiantes de la UNISON en el que se busca la exposición de proyectos locales para poder vincularse estudiantes, empresas y programas académicos."

                  p()
                    a(href="http://localhost:3000/proyectos/proyecto_4" class="btn btn-primary" role="button")="Ver más"

            div(class="col-md-4")
              div(class="thumbnail")
                img(src="/images/r.jpg" class="img-circle" alt="Cinque Terre" style="width:150px; height: 150px")
                div(class="caption")
                  h3()="Introducción a Shiny de R con estadística."
                  p(class="text-justify")="En la probabilidad y la estadística se recurren usualmente a programas de software para ejemplificar o simular experimentos. El software y lenguaje de programación R es bastante conocido en el mundo de la estadística por su facilidad de acceder a métodos y funciones útiles. A partir de este punto, nosotros buscamos crear un software en R que sea más amigable con el usuario. Aquí es donde entra Shiny, una extensión de R para experimentar y hacer simulaciones más sencillamente, donde veremos cómo utilizarlo con una aplicación que ejemplifica cómo se relacionan algunas distribuciones en la estadística."
                  p()
                    a(href="http://localhost:3000/proyectos/proyecto_5" class="btn btn-primary" role="button")="Ver más"
            
            div(class="col-md-4")
              div(class="thumbnail")
                img(src="/images/doblaje.jpg" class="img-circle" alt="Cinque Terre" style="width:150px; height: 150px")
                div(class="caption")
                  h3()="Club de Doblaje"
                  p(class="text-justify")="Alumnos de la Universidad de Sonora buscan participar en concurso de doblaje al español, para ello formamos un Club de Doblaje que pretende cubrir vacantes de actores de doblaje en México. Actualmente tenemos una vacante para interesados en unirse al Club de Doblaje. Los requisitos mínimos son buena dicción y una carrera afín a Ciencias de la Comunicación."
                  p()
                    a(href="http://localhost:3000/proyectos/proyecto_6" class="btn btn-primary" role="button")="Ver más"
      //-
        div(class="row")
          h1="Texto"
