extends ../templates/default

block content_head
  link(rel="stylesheet" href="/stylesheets/plantilla_proyectos.css")

block content
  div(class="contenedor")
    div(class="container-fluid")
      div(class="row row-eq-height")
        div(class="col-md-3 col-xs-6 col-sm-6 panel_izquierdo")
          div(class="wrap_image")
              img(src='/images/norm.jpg' class="img-circle hidden-xs" alt="Cinque Terre" style="width:150px; height: 150px")
              h4()="Datos generales"
            
          h4="Integrantes:"  
          ul(class="list-unstyled" style="margin-left: 20px;")
            li()="Víctor Ariel Noriega Ortiz"
            li()="Gudelia Figueroa Preciado"

          h4="Correo de contacto: "
          ul(class="list-unstyled" style="margin-left: 20px;")
            li()="victornoriega7@gmail.com"
            li()="gudeliafigueroa@gmail.com"
            
          h4="Número telefónico: "
          ul(class="list-unstyled" style="margin-left: 20px;")
            li()="+52 662 326 565"
            li()="+52 662 229 555"

        div(class="col-md-9 col-xs-6 col-sm-6 panel_derecho")
          h1(class="text-center titulo_proyecto" style="margin-left:200px;margin-right:200px;")="Distribuciones en la estadística: las funciones generadoras de momentos."
          h3(class="text-justify:" style="margin-left:200px;margin-right:200px;")="Descripción:"
          p(class="text-justify" style="margin-left:200px;margin-right:200px;")="En este proyecto de investigación se busca mostrar la complejidad de mostrar algebráicamente la normalidad en algunas distribuciones, mientras que a partir del enfoque que proporcionan las funciones generadoras de momentos, se facilita bastante y obtenemos resultados interesantes."

          h3(class="text-justify:" style="margin-left:200px;margin-right:200px;")="Archivos:"
          ul(class="list-unstyled" style="margin-left:200px;margin-right:200px;")
            li()
              a(href="#" style='color:blue;text-decoration: underline; ')="Dist_Muest.pdf"
            li()
              a(href="#" style='color:blue;text-decoration: underline;')="Presentación_CP.pdf"

          h3(class="text-justify:" style="margin-left:200px;margin-right:200px;")="Etiquetas:"
          ul(class="list-unstyled list-inline" style="margin-left:200px;margin-right:200px;" )
            li()
              a(href="#" class="tag")="Estadística"
            li()
              a(href="#" class="tag")="Matemáticas"
            li()
              a(href="#" class="tag" )="Probabilidad"
          embed(src="https://victornoriega.shinyapps.io/distrib/" style="width:860px; height:900px; margin-left:200px;")
