link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
link(rel="stylesheet" href="/stylesheets/footer.css")
div(class="footer")
  div(class="container-fluid text-center text-md-left")
    div(class="container")
      div(class="row")
        div(class="col-md-8")
          h3(class="text-uppercase")='Información del sitio'
          p(class="text-justify")='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.'
        div(class="col-md-4")
          h5(class="text-uppercase")='Links de interés'
          ul(class="list-unstyled list-inline")
            li()
              a(href="https://www.facebook.com/" title="Siguenos en Facebook")
                i(class="fa fa-facebook-square" style="font-size:36px;color:white")
            li()
              a(href="https://github.com/" title="Mira nuestros repositorios")
                i(class="fa fa-github" style="font-size:36px;color:white")
            li()
              a(href="https://twitter.com/" title="Siguenos en Twitter")
                i(class="fa fa-twitter" style="font-size:36px;color:white")
            li()
              a(href="https://www.youtube.com/" title="Mira nuestro canal")
                i(class="fa fa-youtube-play" style="font-size:36px;color:white")
    div(class="registro")
      ul(class="list-unstyled list-inline")
        li(class="list-inline-item")="Participa activamente compartiendo tus ideas"
        //-
          li(class="list-inline-item")
            h5(class="mb-1")='Registrate, es completamente GRATIS'
          li(class="list-inline-item")
            a(href="#!" class="btn btn-danger btn-rounded")='Registro'
    div(class="copyright text-center")
      p='© 2018 Copyright:'
      a(href="www.uson.mx/")='Universidad de Sonora'