link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
link(rel="stylesheet" href="/stylesheets/footer.css")
div(class="footer")
  div(class="container-fluid text-center text-md-left")
    div(class="container")
      div(class="row")
        div(class="col-md-8")
          h3(class="text-uppercase")='Información del sitio'
          p(class="text-justify")='CAT-Project ha sido desarrollado por alumnos de la licenciatura en ciencias de la computación de la Universidad de Sonora y funciona como un espacio virtual, donde estudiantes de nivel licenciatura y bachillerato pueden publicar proyectos y trabajos propios con enfoque tecnológico, así como aplicaciones del aprendizaje obtenido en sus instituciones educativas.'
        div(class="col-md-4")
          h5(class="text-uppercase")='Links de interés'
          ul(class="list-unstyled list-inline")
            li()
              a(href="https://www.facebook.com/" title="Siguenos en Facebook")
                i(class="fa fa-facebook-square" style="font-size:36px;color:white")
            li()
              a(href="https://github.com/" title="Mira nuestros repositorios")
                i(class="fa fa-github" style="font-size:36px;color:white")
            li()
              a(href="https://twitter.com/" title="Siguenos en Twitter")
                i(class="fa fa-twitter" style="font-size:36px;color:white")
            li()
              a(href="https://www.youtube.com/" title="Mira nuestro canal")
                i(class="fa fa-youtube-play" style="font-size:36px;color:white")
    div(class="registro")
      ul(class="list-unstyled list-inline")
        li(class="list-inline-item")="Participa activamente compartiendo tus ideas"
        //-
          li(class="list-inline-item")
            h5(class="mb-1")='Registrate, es completamente GRATIS'
          li(class="list-inline-item")
            a(href="#!" class="btn btn-danger btn-rounded")='Registro'
    div(class="copyright text-center")
      p='© 2018 Copyright:'
      a(href="http://www.uson.mx/")='Universidad de Sonora'
