extends ../templates/default

block content_head
  link(rel="stylesheet" href="stylesheets/plantilla_empresas_escuelas_lista.css")

block content
  div()
    div(class="container")

      div(class="panel panel-default")
        div(class="panel-heading text-center" style="background-color: #0f6bff; color:white;")="Catálogo de empresas"

        div(class="panel-body")
          div(class="row display-flex")
            div(class="col-md-4")
              div(class="thumbnail")
                img(src="https://vignette.wikia.nocookie.net/bobesponja/images/0/0e/MermaidMan.png/revision/latest?cb=20100414023916" class="img-circle" alt="Cinque Terre" style="width:150px; height: 150px")
                div(class="caption")
                  h3()="Título empresa"
                  p(class="text-justify")="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. "
                  p()
                    a(href="http://localhost:3000/empresas/empresa_1" class="btn btn-primary" role="button")="Ver más"

            div(class="col-md-4")
              div(class="thumbnail")
                img(src="https://vignette.wikia.nocookie.net/bobesponja/images/0/0e/MermaidMan.png/revision/latest?cb=20100414023916" class="img-circle" alt="Cinque Terre" style="width:150px; height: 150px")
                div(class="caption")
                  h3()="Título empresa"
                  p(class="text-justify")="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi"
                  p()
                    a(href="http://localhost:3000/empresas/empresa_1" class="btn btn-primary" role="button")="Ver más"
            
            div(class="col-md-4")
              div(class="thumbnail")
                img(src="https://vignette.wikia.nocookie.net/bobesponja/images/0/0e/MermaidMan.png/revision/latest?cb=20100414023916" class="img-circle" alt="Cinque Terre" style="width:150px; height: 150px")
                div(class="caption")
                  h3()="Título empresa"
                  p(class="text-justify")="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. "
                  p()
                    a(href="http://localhost:3000/empresas/empresa_1" class="btn btn-primary" role="button")="Ver más"

          div(class="row display-flex")
            div(class="col-md-4")
              div(class="thumbnail")
                img(src="https://vignette.wikia.nocookie.net/bobesponja/images/0/0e/MermaidMan.png/revision/latest?cb=20100414023916" class="img-circle" alt="Cinque Terre" style="width:150px; height: 150px")
                div(class="caption")
                  h3()="Título empresa"
                  p(class="text-justify")="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. "
                  p()
                    a(href="http://localhost:3000/empresas/empresa_1" class="btn btn-primary" role="button")="Ver más"

            div(class="col-md-4")
              div(class="thumbnail")
                img(src="https://vignette.wikia.nocookie.net/bobesponja/images/0/0e/MermaidMan.png/revision/latest?cb=20100414023916" class="img-circle" alt="Cinque Terre" style="width:150px; height: 150px")
                div(class="caption")
                  h3()="Título empresa"
                  p(class="text-justify")="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi"
                  p()
                    a(href="http://localhost:3000/empresas/empresa_1" class="btn btn-primary" role="button")="Ver más"
            
            div(class="col-md-4")
              div(class="thumbnail")
                img(src="https://vignette.wikia.nocookie.net/bobesponja/images/0/0e/MermaidMan.png/revision/latest?cb=20100414023916" class="img-circle" alt="Cinque Terre" style="width:150px; height: 150px")
                div(class="caption")
                  h3()="Título empresa"
                  p(class="text-justify")="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. "
                  p()
                    a(href="http://localhost:3000/empresas/empresa_1" class="btn btn-primary" role="button")="Ver más"
      //-
        div(class="row")
          h1="Texto"