extends ../templates/default

block content_head
  link(rel="stylesheet" href="stylesheets/plantilla_empresas_escuelas_lista.css")

block content
  div()
    div(class="container")

      div(class="panel panel-default")
        div(class="panel-heading text-center" style="background-color: #0f6bff; color:white;")="Catálogo de escuelas"

        div(class="panel-body")
          div(class="row display-flex")
            div(class="col-md-4")
              div(class="thumbnail")
                img(src="/images/lcc.jpeg" class="img-circle" alt="Cinque Terre" style="width:150px; height: 150px")
                div(class="caption")
                  h3()="Lic. Ciencias de la Computación | Universidad de Sonora"
                  p(class="text-justify")="La Lic. en Ciencias de la Computación de la Universidad de Sonora es un programa educativo a nivel Superior con un enfoque teórico y matemático en la computación, donde buscamos desarrollar habilidades científicas y de investigación en los estudiantes, con un perfil de ingreso de una fuerte base de matemáticas y otras ciencias exactas. En LCC buscamos desarrollar habilidades desde desarrollo de software hasta aplicar conocimientos en la investigación en la teoría de la computación."
                  p()
                    a(href="http://localhost:3000/escuelas/escuela_1" class="btn btn-primary" role="button")="Ver más"

            div(class="col-md-4")
              div(class="thumbnail")
                img(src="/images/mat.png" class="img-circle" alt="Cinque Terre" style="width:150px; height: 150px")
                div(class="caption")
                  h3()="Lic. Matemáticas | Universidad de Sonora"
                  p(class="text-justify")="En la Universidad de Sonora una de las licenciaturas más longevas y productivas es la de Matemáticas, que ha perdurado por la calidad de los estudiantes de egreso y el plan de estudios actualizado que se tiene. Actualmente buscamos talentos que estén interesados en el área de las Ciencias Exactas y Naturales y más específicamente en las matemáticas y que por su puesto estén interesados en llevarlo más alla, a nivel de investigación, matemáticas aplicadas, etcétera."
                  p()
                    a(href="http://localhost:3000/escuelas/escuela_2" class="btn btn-primary" role="button")="Ver más"
            
            div(class="col-md-4")
              div(class="thumbnail")
                img(src="/images/ith.png" class="img-circle" alt="Cinque Terre" style="width:150px; height: 150px")
                div(class="caption")
                  h3()="Ing. Sistemas Computacionales | ITH"
                  p(class="text-justify")="En el Instituto Tecnológico de Hermosillo tenemos una alta reputación en las áreas de ingeniería y un gran prestigio ganado a partir de la gran variedad de programas educativos con los que contamos, mismos que no se encuentran en otras universidades incluso en todo el estado, y, además de ello, contamos con un equipo de última generación que permite realizar experimentos científicos desde un enfoque de la ingeniería."      
                  p()  
                    a(href="http://localhost:3000/escuelas/escuela_3" class="btn btn-primary" role="button")="Ver más"

          div(class="row display-flex")
            div(class="col-md-4")
              div(class="thumbnail")
                img(src="/images/vds.jpg" class="img-circle" alt="Cinque Terre" style="width:150px; height: 150px")
                div(class="caption")
                  h3()="COBACH | Ptl. Villa de Seris"
                  p(class="text-justify")="Programa educativo a nivel bachillerato. El sistema de COBACH permite el desarrollo de las habilidades personales a través de competencias con el fin de afinar estas capacidades al llegar al nivel Superior. Es por esto que se ofrecen áreas de capacitación, como lo son en este caso particular: construcción, inglés y el desarrollo microempresarial. Más adelante, se opta por una opción que está más enfocada aún con la elección de una carrera, estas áreas pueden ser en nuestro plantel: Físico-Matemático, Químico-Biólogo, Económico-Administrativo y las Ciencias Sociales."
                  p()
                    a(href="http://localhost:3000/escuelas/escuela_4" class="btn btn-primary" role="button")="Ver más"

            div(class="col-md-4")
              div(class="thumbnail")
                img(src="/images/cecytes.jpg" class="img-circle" alt="Cinque Terre" style="width:150px; height: 150px")
                div(class="caption")
                  h3()="CECYTES | Ptl. La manga"
                  p(class="text-justify")="Programa académico de bachillerato con un plan de estudios técnico. En CECYTES nos enfocamos en la formación de jóvenes con la intención de aplicar sus conocimientos de forma efectiva, eficiente e inmediata. Con esto formamos técnicos con todas las habilidades de un estudiante de bachillerato, y un título. Actualmente contamos con muchas áreas disciplinarias que varían dependiendo del plantel."
                  p()
                    a(href="http://localhost:3000/escuelas/escuela_5" class="btn btn-primary" role="button")="Ver más"
            
            div(class="col-md-4")
              div(class="thumbnail")
                img(src="/images/master.jpg" class="img-circle" alt="Cinque Terre" style="width:150px; height: 150px")
                div(class="caption")
                  h3()="Maestría en Ciencias de la Computación | UNISON"
                  p(class="text-justify")="A todos los estudiantes afines a Matemáticas que estén por concluir o hayan concluido el programa de Licenciatura, se está ofreciendo esta Maestría en la UNISON en matemáticas, dando un enfoque a la teoría de grupos, álgebra moderna y criptografía. Las bases y requisitos están publicados en nuestras páginas de contacto."
                  p()
                    a(href="http://localhost:3000/escuelas/escuela_6" class="btn btn-primary" role="button")="Ver más"
      //-
        div(class="row")
          h1="Texto"
