extends ../templates/default

block content_head
  link(rel="stylesheet" href="stylesheets/plantilla_empresas_escuelas_lista.css")

block content
  div()
    div(class="container")

      div(class="panel panel-default")
        div(class="panel-heading text-center" style="background-color: #0f6bff; color:white;")="Catálogo de empresas"

        div(class="panel-body")
          div(class="row display-flex")
            div(class="col-md-4")
              div(class="thumbnail")
                img(src="/images/soft.png" class="img-circle" alt="Cinque Terre" style="width:150px; height: 150px")
                div(class="caption")
                  h3()="Northern Solutions"
                  p(class="text-justify")="Somos una empresa de Software ubicada en el norte del país. Nos apasiona el desarrollo de nuevas ideas y es por eso que nos concentramos en Startups."
                  p()
                    a(href="http://localhost:3000/empresas/empresa_1" class="btn btn-primary" role="button")="Ver más"

            div(class="col-md-4")
              div(class="thumbnail")
                img(src="/images/index.png" class="img-circle" alt="Cinque Terre" style="width:150px; height: 150px")
                div(class="caption")
                  h3()="TelTec"
                  p(class="text-justify")="La empresa TelTec ofrece servicios de comunicación telefónica, nos encontramos en el sur del país. Actualmente queremos ponernos a la par con las nuevas tecnologías. Por lo cual, nos entusiasma conocer las percepciones de las nuevas generaciones dándoles la  bienvenida a nuestra empresa para que puedan aplicarse en las búsqueda de mejoras técnicas."
                  p()
                    a(href="http://localhost:3000/empresas/empresa_2" class="btn btn-primary" role="button")="Ver más"
            
            div(class="col-md-4")
              div(class="thumbnail")
                img(src="/images/alim.jpg" class="img-circle" alt="Cinque Terre" style="width:150px; height: 150px")
                div(class="caption")
                  h3()="Aliento"
                  p(class="text-justify")="Ubicados en el estado de Durango, somos una empresa que nos dedicamos al desarrollo de nuevos métodos para la buena conservación de los alimentos. Y para contribuir al crecimiento de este estudio queremos consolidar relaciones con investigadores y creadores de mecánicas para el desarrollo de nuevas tácticas que ayuden a la causa."
                  p()
                    a(href="http://localhost:3000/empresas/empresa_3" class="btn btn-primary" role="button")="Ver más"

          div(class="row display-flex")
            div(class="col-md-4")
              div(class="thumbnail")
                img(src="/images/fen.jpg" class="img-circle" alt="Cinque Terre" style="width:150px; height: 150px")
                div(class="caption")
                  h3()="Save D' World"
                  p(class="text-justify")="Nuestra empresa se dedica a la investigación acerca de los fenómenos naturales, tenemos una posición en el Norte de Chihuahua. A nosotros nos deleita el interés de la sociedad con respecto a este ámbito y todo aquello que ayude a cooperar con el desarrollo de tecnologías que contribuyan a nuestra razón de ser. Agradeceremos a aquellos que les complazca laborar con nosotros, aportando sus ya extensos conocimientos sobre el tema."
                  p()
                    a(href="http://localhost:3000/empresas/empresa_4" class="btn btn-primary" role="button")="Ver más"

            div(class="col-md-4")
              div(class="thumbnail")
                img(src="/images/mic.jpeg" class="img-circle" alt="Cinque Terre" style="width:150px; height: 150px")
                div(class="caption")
                  h3()="Micro-Macro"
                  p(class="text-justify")="Nuestra empresa esta establecida en Monterrey, ubicada en el top # 19 a nivel mundial. Nos basamos en el desarrollo de microprocesadores y tenemos las puertas abiertas para los que les  interese  investigar o desarrollar ideas que contribuyan al funcionamiento de éstos para resultados nuevos e innovadores."
                  p()
                    a(href="http://localhost:3000/empresas/empresa_5" class="btn btn-primary" role="button")="Ver más"
            
            div(class="col-md-4")
              div(class="thumbnail")
                img(src="/images/cont.jpeg" class="img-circle" alt="Cinque Terre" style="width:150px; height: 150px")
                div(class="caption")
                  h3()="CONT-Mex"
                  p(class="text-justify")="Somos una empresa que se centra en la contabilidad, ayudamos a cumplir todos los requisitos legales y financieros de microempresas. Estamos atentos al gran crecimiento tecnológico relacionado con las operaciones internas de las empresas. Entonces, estamos reconociendo a socios capaces que nos ayuden  a desarrollar tecnologías para facilitar el uso de nuestros datos y sean competentes en el área. Nosotros estamos situados en el centro de la ciudad de México."
                  p()
                    a(href="http://localhost:3000/empresas/empresa_6" class="btn btn-primary" role="button")="Ver más"
      //-
        div(class="row")
          h1="Texto"
