extends ../templates/default

block content_head
  link(rel="stylesheet" href="/stylesheets/plantilla_empresas_escuelas.css")

block content
  div(class="contenedor")
    div(class="container-fluid")
      div(class="row row-eq-height")
        div(class="col-md-3 col-xs-6 col-sm-6 panel_izquierdo")
          div(class="wrap_image")
              img(src="https://vignette.wikia.nocookie.net/bobesponja/images/0/0e/MermaidMan.png/revision/latest?cb=20100414023916" class="img-circle hidden-xs" alt="Cinque Terre" style="width:150px; height: 150px")
              h4()="Datos generales"
            
          h4="Encargado:"  
          ul(class="list-unstyled" style="margin-left: 20px;")
            li()="Juan Pablo Soto Barrera"

          h4="Correo de contacto: "
          ul(class="list-unstyled" style="margin-left: 20px;")
            li()="juanpsoto@gmail.com"
                        
          h4="Número telefónico: "
          ul(class="list-unstyled" style="margin-left: 20px;")
            li()="+55 665 326 565"

          h4="Redes sociales: "
          ul(class="list-unstyled" style="margin-left: 20px;")
            li()
              a(href="#")="Facebook"
            li()
              a(href="#")="Twitter"
            li()
              a(href="#")="Youtube"

        div(class="col-md-9 col-xs-6 col-sm-6 panel_derecho")
          h1(class="text-center titulo_proyecto")="Lic. Ciencias de la Computación | Universidad de Sonora"

          h3(class="text-justify:")="Descripción:"
          p(class="text-justify")="Lorem ipsum dolor sit amet, perfecto principes delicatissimi est te. Vim ea omnesque phaedrum, nulla dolorum no has, usu agam dicam corrumpit ex. Docendi platonem consectetuer ius eu, quo offendit ullamcorper cu. Ius case cotidieque cu, at cum nullam volutpat interesset, duo regione virtute recteque an."

          h3(class="text-justify:")="Departamentos participantes:"
          p(class="text-justify")="Lorem ipsum dolor sit amet, perfecto principes delicatissimi est te. Vim ea omnesque phaedrum, nulla dolorum no has, usu agam dicam corrumpit ex. Docendi platonem consectetuer ius eu, quo offendit ullamcorper cu. Ius case cotidieque cu, at cum nullam volutpat interesset, duo regione virtute recteque an."
          ul(class="list-unstyled" style="margin-left: 20px;")
            li()="Interés 1"
            li()="Interés 2"
            li()="Interés 2"
