extends ../templates/default

block content_head
  link(rel="stylesheet" href="/stylesheets/plantilla_empresas_escuelas.css")

block content
  div(class="contenedor")
    div(class="container-fluid")
      div(class="row row-eq-height")
        div(class="col-md-3 col-xs-6 col-sm-6 panel_izquierdo")
          div(class="wrap_image")
              img(src="/images/lcc.jpeg" class="img-circle hidden-xs" alt="Cinque Terre" style="width:150px; height: 150px")
              h4()="Datos generales"
            
          h4="Encargado:"  
          ul(class="list-unstyled" style="margin-left: 20px;")
            li()="Juan Pablo Soto Barrera"

          h4="Correo de contacto: "
          ul(class="list-unstyled" style="margin-left: 20px;")
            li()="juanpsoto@gmail.com"
                        
          h4="Número telefónico: "
          ul(class="list-unstyled" style="margin-left: 20px;")
            li()="+55 665 326 565"

          h4="Redes sociales: "
          ul(class="list-unstyled" style="margin-left: 20px;")
            li()
              a(href="#")="Facebook"
            li()
              a(href="#")="Twitter"
            li()
              a(href="#")="Youtube"

        div(class="col-md-9 col-xs-6 col-sm-6 panel_derecho")
          h1(class="text-center titulo_proyecto")="Lic. Ciencias de la Computación | Universidad de Sonora"

          h3(class="text-justify:")="Descripción:"
          p(class="text-justify")="La Lic. en Ciencias de la Computación de la Universidad de Sonora es un programa educativo a nivel Superior con un enfoque teórico y matemático en la computación, donde buscamos desarrollar habilidades científicas y de investigación en los estudiantes, con un perfil de ingreso de una fuerte base de matemáticas y otras ciencias exactas. En LCC buscamos desarrollar habilidades desde desarrollo de software hasta aplicar conocimientos en la investigación en la teoría de la computación."
          ul(class="list-unstyled" style="margin-left: 20px;")
            li()="Matemáticas"
            li()="Computación"
            li()="Lenguajes de programación"
            li()="Divulgación de ciencia"
