extends ../templates/default

block content_head
  link(rel="stylesheet" href="/stylesheets/plantilla_proyectos.css")

block content
  div(class="contenedor")
    div(class="container-fluid")
      div(class="row row-eq-height")
        div(class="col-md-3 col-xs-6 col-sm-6 panel_izquierdo")
          div(class="wrap_image")
              img(src='/images/cripto.jpg' class="img-circle hidden-xs" alt="Cinque Terre" style="width:150px; height: 150px")
              h1()="Datos generales"
            
          h2="Interesado:"  
          ul(class="list-unstyled" style="margin-left: 20px;")
            li()="Crypto systems"
            li()="Dr. Jairo Rodríguez Calderón"

          h2="Correo de recepción: "
          ul(class="list-unstyled" style="margin-left: 20px;")
            li()="jrcalderon@cryptosystems.com"

        div(class="col-md-9 col-xs-6 col-sm-6 panel_derecho" style="margin-left:200px; margin-right:200px;")
          div(class="container well")
            div(class='row')
              div(class='col-md-4')
                img(src="/images/criptc.png" class='img-responsive')
              div(class='col-md-8')
                h1(class="text-center titulo_proyecto" style='margin-top: 0%;')="Identificación del centralizador de un grupo"
              
          div(class="container")
            div(class="col-md-6 well container")
              div(class="row")
                div(class="col-md-12")
                  h3(class="text-center")="DÍAS RESTANTES:"  
              div(class="row")
                div(class="col-md-12")
                  h1(class="text-center")="SOLO QUEDAN "
                  h1(class="text-center" style="color: #0f6bff; font-size:60px;" )="5"  
              div(class="row")
                div(class="col-md-12")
                  h1(class="text-center" style="color: #0f6bff")=""
            div(class="col-md-6 well")
              h1(style="text-align: center;")="Premios: "
              ul(class="list-unstyled")
                li(style="font-size:47px; color: blue; text-align: center;")="$1,000.00 MXN"
                li(style="font-size:30px;  text-align: center;")="La oportunidad de realizar prácticas profesionales con nosotros"
          hr
          h1(class="text-justify:")="Descripción:"
          p(class="text-justify" style="font-size:20px;")="Como empresa enfocada en la encriptación de datos buscamos una implementación que sea capaz de encontrar el centralizador para dentro de un grupo para una serie de elementos pertenecientes a ese mismo grupo. Se adjuntan los archivos que contienen la descripción del grupo así como de los elementos de interés"
          hr
          h1(class="text-justify:")="Archivos:"
          ul(class="list-unstyled" style="font-size:20px;")
            li()
              a(href="#" style='color:blue;text-decoration: underline;')="Descripcion_grupo_elementos.pdf"
          hr
          h1(class="text-justify:")="Bases:"
          p(class="text-justify" style="font-size:20px;")="Consideramos necesario sentar las siguientes bases:"
          ul(class="list-unstyled" style="margin-left: 20px;font-size:20px;")
            li()="El desarrollo de este proyecto debe ser en C/C++"
            li()="Es escencial que se entregue una documentación detallada"
            li()="Se desea que los participantes atiendan un nivel de educación superior"
            
          hr
          ul(class="list-unstyled list-inline" style="font-size:20px;")
            li()
              a(href="#" class="tag")="Criptografía"
            li()
              a(href="#" class="tag")="Álgebra"
            li()
              a(href="#" class="tag")="Prácticas"
