extends ../templates/default

block content_head
  link(rel="stylesheet" href="/stylesheets/plantilla_proyectos.css")

block content
  div(class="contenedor")
    div(class="container-fluid")
      div(class="row row-eq-height")
        div(class="col-md-3 col-xs-6 col-sm-6 panel_izquierdo")
          div(class="wrap_image")
              img(src='/images/formulario_registro.jpg' class="img-circle hidden-xs" alt="Cinque Terre" style="width:150px; height: 150px")
              h4()="Datos generales"
            
          h4="Interesado:"  
          ul(class="list-unstyled" style="margin-left: 20px;")
            li()="School solutions"
            li()="Dr. Juan Pablo Soto"

          h4="Correo de recepción: "
          ul(class="list-unstyled" style="margin-left: 20px;")
            li()="jpsoto@schoolsolutions.com"

        div(class="col-md-9 col-xs-6 col-sm-6 panel_derecho" style="margin-left:200px; margin-right:200px;")
          h1(class="text-center titulo_proyecto")="Creación de la plantilla para un formulario de registro"
          h3(class="text-justify:")="Descripción:"
          p(class="text-justify")="Somos una empresa dedicada a la creación de soluciones para portales de escolares. Actualmente buscamos un diseño innovador para el formulario de registro de padres para uno de nuestros clientes. En los siguientes archivos se podrá encontrar información detallada del manejo de colores así como de los campos de información requeridos."

          h3(class="text-justify:")="Archivos:"
          ul(class="list-unstyled")
            li()
              a(href="#" style='color:blue;text-decoration: underline;')="Lista_colores.pdf"
            li()
              a(href="#" style='color:blue;text-decoration: underline;')="Campos_información.pdf"

          h3(class="text-justify:")="Bases:"
          p(class="text-justify")="Consideramos necesario sentar las siguientes bases:"
          ul(class="list-unstyled" style="margin-left: 20px;")
            li()="El desarrollo del formulario debe ser completamente individual"
            li()="La sintaxis debe ser compatible con el motor de plantillas de jade"
            li()="La implementación de una solución debe contar con su respectiva documentación"
            li()="La solución debe ser completamente propia"
            li()="Se desea que los participantes atiendan un nivel de educación medio superior a superior"

          h3(class="text-justify:")="Premios"
          ul(class="list-unstyled")
            li()="El ganador obtendrá un monto de $1500.00mxn"

          h3(class="text-center")="Fecha límite de presentación: 15 de julio de 2018"

          h3(class="text-justify:")="Etiquetas:"
          ul(class="list-unstyled list-inline")
            li()
              a(href="#" class="tag")="Diseño web"
            li()
              a(href="#" class="tag")="Programación"
